body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.calculator-container {
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: darkgray;
}
.display-screen{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: lightgray;
    text-align: right;
}
.display-screen p {
    font-size: 36px;
}
.buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
button {
    padding: 25px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 32px;
    font-weight: 700;
}
button:hover {
    opacity: 80%;
}
.clear,
.delete {
    grid-column: span 2;
}
.clear {
    background-color: red;
}
.delete {
    background-color: lightcoral;
}
.number {
    background-color: gray;
}
.operator {
    background-color: pink;
}
.equal {
    background-color: lightgreen;
}
.decimal-point {
    background-color: orangered;
}